<form (ngSubmit)="submitEventDetails()" [formGroup]="editForm" class="example-form">
    <div class="container pt-4">
        <div class="row justify-content-center">
            <mat-form-field class="col-10">
                <input formControlName="title" matInput placeholder="Title">
            </mat-form-field>
            <mat-form-field class="col-5">
                <input type="color" formControlName="primary" matInput placeholder="Primary color">
            </mat-form-field>
            <mat-form-field class="col-5">
                <input type="color" formControlName="secondary" matInput placeholder="Secondary color">
            </mat-form-field>
            <div class="col-10 date-wrapper">
                <div class="row justify-content-between">
                    <div class="col-6">
                        <label>Starts at:</label>
                        <input class="form-control" type="text" mwlFlatpickr formControlName="start"
                            [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i"
                            altFormat="F j, Y H:i" placeholder="Not set" />
                    </div>
                    <div class="col-6">
                        <label>Ends at:</label>
                        <input class="form-control" type="text" mwlFlatpickr formControlName="end"
                            [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i"
                            altFormat="F j, Y H:i" placeholder="Not set" />
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5 button-wrapper">
                <button mat-raised-button color="primary" class="btn">Save Changes</button>
            </div>
        </div>
    </div>
</form>