<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Create your account</mat-card-title>
        </mat-card-header>
        <form (ngSubmit)="register()" [formGroup]="form" class="example-form">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input formControlName="firstName" matInput placeholder="First Name">
                    <mat-error *ngIf="form.get('firstName').hasError('required')" class="error-text">we need
                        your first name</mat-error>
                    <mat-error *ngIf="form.get('firstName').hasError('maxlength')" class="error-text">max 50
                        characters</mat-error>
                    <mat-error *ngIf="form.get('firstName').hasError('minlength')" class="error-text">min 2
                        characters</mat-error>
                    <mat-error
                        *ngIf="form.get('firstName').hasError('pattern') && !form.get('firstName').hasError('minlength') && !form.get('firstName').hasError('maxlength')"
                        class="error-text">the first name has an invalid character</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input formControlName="lastName" matInput placeholder="Last Name">
                    <mat-error *ngIf="form.get('lastName').hasError('required')" class="error-text">we need your
                        last name</mat-error>
                    <mat-error *ngIf="form.get('lastName').hasError('minlength')" class="error-text">min 2
                        characters</mat-error>
                    <mat-error *ngIf="form.get('lastName').hasError('maxlength')" class="error-text">max 50
                        characters</mat-error>
                    <mat-error
                        *ngIf="form.get('lastName').hasError('pattern') && !form.get('lastName').hasError('minlength') && !form.get('lastName').hasError('maxlength')"
                        class="error-text">the last name has an invalid character</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input formControlName="email" matInput placeholder="Email">
                    <mat-error *ngIf="form.get('email').hasError('required')" class="error-text">we need your
                        email address</mat-error>
                    <mat-error *ngIf="form.get('email').hasError('pattern')" class="error-text">please add a
                        valid email address</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input formControlName="phone" matInput placeholder="Phone">
                    <mat-error *ngIf="form.get('phone').hasError('required')" class="error-text">we need
                        your phone number</mat-error>
                    <mat-error
                        *ngIf="form.get('phone').value.length > 0 && form.get('phone').hasError('maxlength') && !form.get('phone').hasError('minlength') && !form.get('phone').hasError('pattern')"
                        class="error-text">max 15 characters</mat-error>
                    <mat-error
                        *ngIf="form.get('phone').value.length > 0 && form.get('phone').hasError('minlength') && !form.get('phone').hasError('maxlength')"
                        class="error-text">min 10 characters</mat-error>
                    <mat-error
                        *ngIf="form.get('phone').value.length > 0 && form.get('phone').hasError('phoneNumberCountValidator') && !form.get('phone').hasError('maxlength') && !form.get('phone').hasError('minlength')"
                        class="error-text">bad format. it contains a max of 10 digits</mat-error>
                    <mat-error
                        *ngIf="form.get('phone').value.length > 0 && form.get('phone').hasError('pattern') && !form.get('phone').hasError('maxlength') && !form.get('phone').hasError('minlength') && !form.get('phone').hasError('phoneNumberCountValidator')"
                        class="error-text">bad format. it should be like 234.567.8901</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input type="password" formControlName="password" matInput placeholder="Password">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input type="password" formControlName="confirmPassword" matInput placeholder="Confirm Password">
                    <mat-error class="error-text">passwords must match</mat-error>
                </mat-form-field>
            </mat-card-content>
            <button mat-raised-button color="primary" class="btn-block">Register</button>
        </form>
        <br>
        <span>Already a member? </span><a routerLink="/public/login">Login</a>
    </mat-card>
</div>